In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([1,2,3,4,5,6])

In [4]:
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [5]:
print(len(df))

6

In [15]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]])

In [16]:
print(df1)

   0  1  2
0  1  2  3
1  4  5  6

In [18]:
df1[[0,1]]

   0  1
0  1  2
1  4  5

In [19]:
df1[[0:1]]

SyntaxError: invalid syntax (<ipython-input-19-a5d67fa2f067>, line 1)

In [20]:
log

NameError: name 'log' is not defined

In [21]:
import math

In [28]:
def sigmoid(x):
    return 1/(1 + math.exp(-x))

In [23]:
sigmoid(1)

0.2689414213699951

In [32]:
xw = -0.42*79 - 0.47*75

In [33]:
xw

-68.43

In [34]:
-math.log(sigmoid(xw))

68.43

In [35]:
sigmoid(xw)

1.9108588292549177e-30

In [38]:
math.e

2.718281828459045

In [43]:
-math.log(1/(1+math.exp(68)),math.e)-(1-1)*math.log(1-(1/(1+math.exp(68))))

68.0